main#home {
  display: flex;
  max-width: 100% !important;
  width: 100%;
  min-height: 675px;
  max-height: calc(675px);
  height: 675px;
  margin: 0;
  padding: 0;
  justify-content: space-between !important;
  overflow-y: hidden;
  background-color: #f2f4f7;
  /* border: 1px solid #000; */
}

img.user-image {
  border-radius: 100%;
}

main#home span {
}

main#home span.left {
  /* float: left !important; */
  min-width: 400px;
  max-width: 400px;
  width: 400px;
  min-height: 100%;
  max-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 5px 5px;
  overflow-y: scroll;
  background-color: #f2f4f7;
  /* border: 1px solid #000; */
}

main#home span.left div.span-left-main-links {
  max-width: 100%;
  width: 100%;
  height: fit-content;
  margin: 0;
  /* border: 1px solid #000; */
}

main#home span.left div.span-left-main-links a.userLink img {
  border-radius: 100%;
}

main#home span.left div.span-left-main-links a.span-left-main-link {
  display: block;
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  height: 50px;
  max-height: 50px;
  padding: 5px;
  margin-bottom: 5px;
  align-content: center;
  justify-content: left;
  /* vertical-align: middle; */
  border-radius: 5px;
}

main#home span.left div.span-left-main-links a.span-left-main-link * {
  display: inline;
  vertical-align: middle;
}

main#home span.left div a:hover {
  background-color: #c1c1c1;
}

main#home span.left div a * {
  display: inline;
  vertical-align: middle !important;
}

main#home span.left div#spanLeftShortcutsDiv {
  width: 100%;
  min-height: 120px;
  height: fit-content;
  margin: 0;
  /* border: 1px solid #000; */
}

main#home span.left div#spanLeftShortcutsDiv div.shortcuts-div-title-div {
  display: flex;
  width: 100%;
  height: 45px;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid #000; */
}

div#spanLeftShortcutsDiv div.shortcuts-div-title-div a#editShortcutsLink {
  padding: 5px;
  color: #0e67c9;
  /* border: 1px solid #000; */
}

main#home span.left div#mainLeftSpanFooter {
  display: inline-block;
  width: 100%;
  min-height: 70px;
  height: fit-content;
  align-items: center;
  align-content: center;
  /* border: 1px solid #000; */
}

main#home span.left div#mainLeftSpanFooter a.span-left-footer-link {
  margin: 0 3px;
  /* border: 1px solid #000; */
}

main#home span.left div#mainLeftSpanFooter a.span-left-footer-link:hover {
  text-decoration: underline;
  background-color: unset;
}

main#home span.center {
  max-width: 590px;
  width: 590px;
  max-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  scrollbar-width: none;
  background-color: #f2f4f7;
  /* border: 1px solid #000; */
}

main#home span.center div#storiesDiv {
  display: flex;
  width: 100%;
  height: 220px;
  margin: 10px 0;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  background-color: #f2f4f7;
  /* border: 1px solid #000; */
}

main#home span.center div.story {
  max-width: 24%;
  width: 24%;
  max-height: 95%;
  height: 95%;
  background-color: #fff;
  background-image: url('https://scontent.fcai21-2.fna.fbcdn.net/v/t39.30808-6/475016935_1130090858572117_4336673196860303447_n.jpg?stp=dst-jpg_p180x540_tt6&_nc_cat=1&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeE3yopoqnm9zmYFTGv0aR3xeiP6SYDm9ct6I_pJgOb1y0Jpg1SGyICriQEslHcyQxH9WyGf4nrd3xNxj-ooC8eS&_nc_ohc=xEdGKYZKf5wQ7kNvgGzGaTC&_nc_oc=AdicLf5XBGZKxIZ7IDd73HyhA5YwQXnibnvD9TTnjXqb9KqG4zLE2VQkYpCHq6TvZCE&_nc_zt=23&_nc_ht=scontent.fcai21-2.fna&_nc_gid=Au0mxhChcqYw3QywzAMUA5i&oh=00_AYDYWyOlGaVGfpxGybJe-iakwDPhwHtf6M518cfbcECUEQ&oe=679DBD13');
  background-size: 100%;
  border-radius: 10px;
  /* border: 1px solid #000; */
}

div#createPostDiv {
  max-width: 100%;
  width: 100%;
  max-height: 123px;
  height: 123px;
  background-color: #fff;
  border-radius: 10px;
  /* border: 1px solid #000; */
}
div#createPostTextDiv {
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}

div#createPostTextDiv * {
  margin: 0;
  vertical-align: middle;
}

div#createPostTextDiv img.user-image {
  width: fit-content;
  height: fit-content;
}

div#createPostTextDiv input.create-post-text-input {
  width: 87%;
  height: 70%;
  padding: 2px 15px;
  font-size: 14px;
  border-radius: 100px;
  background-color: #f2f4f7;
  border: none;
}

div#createPostTextDiv input.create-post-text-input:focus {
  outline: none;
}

div#createPostTextDiv input.create-post-text-input::placeholder {
  font-style: italic;
}

div#createPostDiv hr {
  max-width: 95%;
  margin: auto;
}

div#createPostDiv div#createPostAttachmentsDiv {
  display: flex;
  max-width: 100%;
  width: 100%;
  max-height: 50%;
  height: 50%;
  padding: 0;
  margin: 0;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  /* border: 1px solid #000; */
}

div#createPostDiv div#createPostAttachmentsDiv a.create-post-attachments-link {
  max-width: 30%;
  width: 30%;
  max-height: 80%;
  height: 80%;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 10px;
  /* border: 1px solid #000; */
}

div#createPostDiv
  div#createPostAttachmentsDiv
  a.create-post-attachments-link:hover {
  background-color: #f2f4f7;
}

div#createPostDiv
  div#createPostAttachmentsDiv
  a.create-post-attachments-link
  img {
  margin: auto;
}

div#reelsDiv {
  position: relative;
  max-width: 100%;
  width: 100%;
  max-height: 551px;
  height: 551px;
  background-color: #fff;
  margin: 10px 0;
  border-radius: 10px;
  /*border: 1px solid #000;*/
}

div#reelsDivTitleDiv {
  display: flex;
  max-width: 100%;
  width: 100%;
  max-height: 9%;
  height: 9%;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid #000; */
}

div#reelsDivTitleDiv div.left {
  display: flex;
  width: 15%;
  height: 100%;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  /* border: 1px solid #000; */
}

div#reelsDivTitleDiv p {
  font-weight: bold;
}

div#reelsDivTitleDiv div.left * {
  width: fit-content;
  height: fit-content;
}

div#reelsDivTitleDiv div.right {
  display: flex;
  width: 20%;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  /* border: 1px solid #000; */
}

a.menu-link {
  display: flex;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 100%;
  /* border: 1px solid #000; */
}

a.menu-link:hover {
  background-color: #f2f4f7;
}

a#createReelLink {
  padding: 10px;
  font-weight: bold;
  color: #0e67c9;
  border-radius: 5px;
}

a#createReelLink:hover {
  background-color: #f2f4f7;
}

div#reelsDiv div#videosDiv {
  display: flex;
  width: 100%;
  height: 81%;
  margin: 2px 0;
  overflow-x: scroll;
  scrollbar-width: none;
  /* border: 1px solid #000; */
}

a.videos-div-control-item {
  display: block;
  position: absolute;
  width: 48px;
  height: 48px;
  padding: 0;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  border-radius: 100%;
  /* border: 1px solid #000; */
}

a#previousVideoLink {
  left: 10px;
  top: 50%;
}

a#nextVideoLink {
  right: 10px;
  top: 50%;
}

a.videos-div-control-item:hover {
  background-color: #f2f2f2;
}

a.videos-div-control-item svg {
  margin: 0;
  padding: 0;
}

div.reel {
  min-width: 247px;
  width: 247px;
  min-height: 435px;
  height: 435px;
  margin: 3px 7px;
  background-image: url('https://scontent.fcai21-2.fna.fbcdn.net/v/t39.30808-6/474922534_9259938020730048_792088652953113060_n.jpg?stp=dst-jpg_p526x296_tt6&_nc_cat=1&ccb=1-7&_nc_sid=aa7b47&_nc_eui2=AeFrg5XlymgCz8Bz1_twYS4h4t5f_KTeJ3ri3l_8pN4nerN_A2gaChwpF-7nqXZWDZo9U9Ko6yffF5SxW6PvJxxC&_nc_ohc=lmm1PQVRQOIQ7kNvgFu3vgF&_nc_oc=AdhwufRDCOQxxrzdSB5_5fIZMEofKyvuaS39N-6WeVTKDW2l2kQVHv4B8H5qA6OXdxw&_nc_zt=23&_nc_ht=scontent.fcai21-2.fna&_nc_gid=Adaq60JDw7pFY8Tb1lFrjXW&oh=00_AYC_q85I3-9jQ89pRjA8uKuw1rJg1oxwdWxzcT-Uyg5iZg&oe=679D9C45');
  border-radius: 10px;
  /* border: 1px solid #000; */
}

div#reelsFooterDiv {
  display: flex;
  width: 100%;
  height: 46px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  align-content: center;
  justify-content: center;
  /* border: 1px solid #000; */
}

div#reelsFooterDiv a {
  display: flex;
  width: 97%;
  height: 80%;
  font-weight: bold;
  color: #0e67c9;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
}

div#reelsFooterDiv a:hover {
  background-color: #f1f1f1;
}

div#feedDiv div.post {
  width: 100%;
  max-width: 100%;
  height: fit-content;
  max-height: fit-content;
  padding: 0;
  margin: 10px 0;
  overflow: hidden;
  background-color: #fff;
  border-radius: 10px;
  /* border: 1px solid #000; */
}

div.post div.post-details {
  display: flex;
  width: 100%;
  max-width: 100%;
  padding: 5px;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  /* border: 1px solid #000; */
}

div.post div.post-details div.left-center-div {
  display: flex;
  width: 36%;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  /* border: 1px solid #000; */
}

div.post div.post-details div.left-center-div div.left {
  display: flex;
  width: fit-content;
  max-width: fit-content;
  align-items: center;
  align-content: center;
  /* border: 1px solid #000; */
}

div.post div.post-details div.left-center-div div.left a.publisher-image-link {
  align-items: center;
  align-content: center;
  /* border: 1px solid #000; */
}

div.post div.post-details div.left a.publisher-image-link img.publisher-image {
  margin: 0;
  padding: 0;
  /* border: 1px solid #000; */
}

div.post div.post-details div.left-center-div div.center {
  /* display: flex; */
  width: fit-content;
  max-width: fit-content;
  align-items: center;
  align-content: center;
  /* border: 1px solid #000; */
}

div.post div.post-details div.left-center-div div.center div.publisher-name {
  align-items: center;
  align-content: center;
}

div.post
  div.post-details
  div.left-center-div
  div.center
  div.publisher-name
  a.post-publisher-name-link {
  align-items: center;
  align-content: center;
}

div.post div.post-details div.left-center-div div.center div.post-date {
  display: flex;
  vertical-align: middle;
  align-items: center;
  align-content: center;
}

div.post
  div.post-details
  div.left-center-div
  div.center
  div.post-date
  a.post-date-link {
  align-items: center;
  align-content: center;
}

div.post div.post-details div.right {
  display: flex !important;
  float: right;
  width: 13%;
  max-width: 13%;
  height: 80% !important;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  /* border: 1px solid #000; */
}

div.post div.post-details div.right a {
  display: flex;
  width: 35px;
  height: 35px;
  padding: 0;
  margin: 0;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  border-radius: 100%;
}

div.post div.post-details div.right a:hover {
  background-color: #c1c1c1;
}

div.post div.post-content {
  width: 100%;
  height: fit-content;
  padding: 0;
  margin: 0;
  align-content: center;
  align-items: center;
  /* border: 1px solid #000; */
}

div.post div.post-content div.post-description {
  width: 100%;
  height: fit-content;
  padding: 3px 5px;
  align-items: center;
  align-content: center;
  text-align: left;
  /* border: 1px solid #000; */
}

div.post div.post-content div.post-image {
  width: 100%;
  height: fit-content;
  padding: 0;
  margin: 0;
  /* border: 1px solid #000; */
}

div.post div.post-content div.post-image img.post-image {
  width: 100%;
  height: fit-content;
  padding: 0;
  margin: 0;
}

div.post div.post-statics {
  display: flex;
  width: 100%;
  padding: 1px 15px;
  margin: 0;
  height: fit-content;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  /* border: 1px solid #000; */
}

div.post div.post-statics div.post-statics-left {
  width: fit-content;
  height: fit-content;
  align-content: center;
  align-items: center;
  /* border: 1px solid #000; */
}

div.post div.post-statics div.post-statics-left a:hover {
  text-decoration: underline;
}

div.post div.post-statics div.post-statics-right {
  display: flex;
  width: 130px;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid #000; */
}

div.post div.post-statics div.post-statics-right a {
  display: flex;
  width: fit-content;
  align-content: center;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #000; */
}

div.post div.post-statics div.post-statics-right a:hover {
  text-decoration: underline;
}

div.post hr {
  width: 95%;
  margin: 5px auto;
}

div.post div.post-reacts {
  display: flex;
  width: 100%;
  height: 36px;
  padding: 0;
  margin: 0;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  /* border: 1px solid #000; */
}

div.post div.post-reacts a {
  display: flex;
  width: 22%;
  height: 80%;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  border-radius: 10px;
}

div.post div.post-reacts a:hover {
  background-color: #e4e6e8;
}

div.post div.post-comments-div {
  width: 100%;
  height: fit-content;
  justify-content: center;
  text-align: center;
  border: 1px solid #000;
}

div.post div.post-comments-div div.post-comments-title-div {
  display: flex;
  width: 95%;
  height: fit-content;
  margin: 0 auto;
  /* border: 1px solid #000; */
}

div.post
  div.post-comments-div
  div.post-comments-title-div
  a.view-more-comments-link {
  color: #000;
}

div.post
  div.post-comments-div
  div.post-comments-title-div
  a.view-more-comments-link:hover {
  text-decoration: underline;
}

div.post div.post-comments-div div.post-comments-content-div {
  width: 95%;
  height: fit-content;
  min-height: 70px;
  max-height: fit-content;
  margin: 30px auto;
  align-items: center;
  align-content: center;
  border: 1px solid #000;
}

div.post div.post-comments-div div.post-comments-content-div div.comment {
  display: flex;
  width: fit-content;
  height: 50px;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  border: 1px solid #000;
}

div.post
  div.post-comments-div
  div.post-comments-content-div
  div.comment
  img.commenter-user-image {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

div.post
  div.post-comments-div
  div.post-comments-content-div
  div.comment
  p.comment-text {
  display: flex;
  width: fit-content;
  height: 70%;
  padding: 2px 5px;
  margin: 0 5px;
  align-items: center;
  align-content: center;
  background-color: #f0f2f5;
  border-radius: 50px;
}

div.post div.post-comments-div div.post-create-comment-div {
  display: flex;
  width: 100%;
  height: 50px;
  margin: auto;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  overflow: hidden;
  border: 1px solid #000;
}

div.post
  div.post-comments-div
  div.post-create-comment-div
  img.create-post-user-image {
  width: 30px;
  height: 30px;
}

div.post
  div.post-comments-div
  div.post-create-comment-div
  input.post-create-comment-input {
  width: 85%;
  height: 80%;
  padding: 2px 5px;
  background-color: #f0f2f5;
  outline: none;
  border-radius: 50px;
  border: none;
}

div.post
  div.post-comments-div
  div.post-create-comment-div
  input.post-create-comment-input:focus {
  outline: none;
  border: none;
}

main#home span.right {
  display: block;
  min-width: 25%;
  max-width: 25%;
  width: 25%;
  min-height: 100%;
  max-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0;
  overflow-y: scroll;
  background-color: #f2f4f7;
  /* border: 1px solid #000; */
}

main#home span.right div {
  display: block;
}

img.group-image {
  border-radius: 100%;
}

main#home span.right div a {
  display: block;
}

main#home span.right div.pages-div {
  display: block;
  width: 100%;
  max-width: 100%;
  height: fit-content;
  margin: 0;
  padding: 0;
  /* border: 1px solid #000; */
}

main#home span.right div.pages-div div.pages-div-title-div {
  width: 100%;
  height: 40px;
  padding: 0 3px;
  margin: 0;
  align-content: center;
  /* border: 1px solid #000; */
}

main#home span.right div.pages-div div.pages-div-title-div a {
  float: right;
  width: 30px;
  height: 30px;
  align-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 100%;
  /* border: 1px solid #000; */
}

main#home span.right div.pages-div div.pages-div-title-div a * {
  margin: 0;
}

main#home span.right div.pages-div div.pages-div-title-div a:hover {
  background-color: #e4e6e8;
}

main#home span.right div.pages-div div.pages-div-links-div {
  width: 100%;
  height: fit-content;
  padding: 0 0 0 3px;
  margin: 0;
  /* border: 1px solid #000; */
}

main#home span.right div.pages-div div.pages-div-links-div a.user-link {
  display: flex;
  width: 100%;
  height: 50px;
  padding-left: 3px;
  align-items: center;
  align-content: center;
  border-radius: 5px;
}

main#home span.right div.pages-div div.pages-div-links-div a.user-link img {
  margin-right: 5px;
}

main#home span.right div.pages-div div.pages-div-links-div a.user-link:hover {
  background-color: #e4e6e8;
}

main#home span.right div.pages-div div.pages-div-links-div a.user-link * {
  vertical-align: center;
}

a#createMessageLink {
  display: flex;
  position: fixed;
  bottom: 15px;
  right: 33px;
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  /* border: 1px solid #000; */
}

a#createMessageLink img {
  margin: 0;
  padding: 0;
}

/*===========================
=          RWD Code         =
===========================*/

/* When ViewPort == 1100px */
@media only screen and (max-width: 1100px) {
  main#home {
    justify-content: space-between;
  }

  main#home span.right {
    display: none;
  }

  main#home span.center {
    width: 60%;
  }

  main#home span.left {
    max-width: 25%;
    width: 25%;
  }
}

/* When ViewPort == 900*/
@media only screen and (max-width: 900px) {
  body {
    justify-content: center;
    text-align: center;
  }

  main#home {
    margin: auto;
  }

  main#home span.left {
    display: none;
  }

  main#home span.center {
    width: 90% !important;
  }
}

@media (max-width: 768px) {
}

/* When ViewPort == 700px*/
@media only screen and (max-width: 700px) {
}

/* When ViewPort == 500px*/
@media only screen and (max-width: 500px) {
  main#home {
    text-align: center;
    justify-content: center;
  }

  main#home span.center {
    width: 100%;
    margin: auto;
    padding: 0;
    scrollbar-width: none;
  }
}

@media (max-width: 480px) {
}
