main#home {
  display: flex;
  max-width: 100% !important;
  width: 100%;
  max-height: calc(675px);
  height: 675px;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  overflow-y: scroll;
  overflow-x: hidden;
  /* border: 1px solid #000; */
}

main#home span.left {
  float: left !important;
  max-width: 25%;
  width: 25%;
  max-height: 100%;
  height: 100%;
  margin: 0;
  padding: 5px 5px;
  border: 1px solid #000;
}

main#home span.left div {
}

main#home span.left div a {
  display: flex;
  vertical-align: middle;
  border-radius: 10px;
}

main#home span.left div a:hover {
  background-color: #c1c1c1;
}

main#home span.left div a * {
  display: inline;
  vertical-align: middle !important;
}

main#home span.center {
  max-width: 30%;
  width: 30%;
  max-height: 100%;
  height: 100%;
  margin: auto;
  border: 1px solid #000;
}

main#home span.right {
  max-height: 100%;
  height: 100%;
  max-width: 30%;
  width: 30%;
  margin: auto;
  border: 1px solid #000;
}
