nav {
  min-width: 100%;
  min-height: 50px;
  width: 100%;
  height: 50px;
  max-width: 100%;
  max-height: 50px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav span {
  display: inline;
  max-height: 100%;
  height: 100%;
  align-items: center;
  vertical-align: middle;
}

nav span a {
  display: inline !important;
  vertical-align: middle;
}

nav span.right {
  display: flex;
  float: right;
}

nav span.right a.navbar-icon-link {
  width: fit-content;
  height: fit-content;
  padding: 10px;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e4e6eb;
  border-radius: 100%;
  overflow: hidden;
}

nav span.right a.active {
}

/* nav span.right a.active:hover {
  background-color: unset !important;
} */

nav span.right a.active svg path {
  fill: #0866ff !important;
}

div#userMenuDiv {
  position: absolute;
  top: 50px;
  right: 25px;
  min-width: 360px;
  max-width: 360px;
  min-height: 580px;
  max-height: 580px;
  display: none;
  background-color: #fff;
  border-radius: 10px;
  /*border: 1px solid #000;*/
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

div#pageSwitcherDiv {
  min-width: 92%;
  max-width: 92%;
  height: fit-content;
  margin: 3% auto;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  /*border: 1px solid #000;
  */
  box-shadow: 0px 0px 3px 1px #000;
}

div#pageSwitcherDiv hr {
  width: 90%;
  margin: 2px auto;
}

a.page-switcher-link {
  display: inline-block;
  width: 98%;
  height: fit-content;
  margin: 2px auto;
  padding: 3% 3%;
  text-align: left;
  /*border: 1px solid #000;
  */
  border-radius: 10px;
}

a.page-switcher-link:hover {
  background-color: #e4e6eb;
}

a.page-switcher-link div img {
  margin-right: 5px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

a.page-switcher-link#showAllProfiles {
  min-width: fit-content;
  max-width: 90%;
  width: 90%;
  height: fit-content;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 2.8% 10px;
  margin: 5px 0;
  border-radius: 7px;
  background-color: #e4e6eb;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

a.page-switcher-link#showAllProfiles i {
  background-image: url('https://static.xx.fbcdn.net/rsrc.php/v4/yT/r/XjnAqEDt36c.png?_nc_eui2=AeFV5-0UUNhJgmjhel54OxaAsSkqQ-oXvMOxKSpD6he8wwuUm_R6C6CYrf_hfm_E4uBYjnaggcy1lkxUteCtlvc6');
  background-position: 0px -361px;
  background-size: auto;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  background-repeat: no-repeat;
  display: inline-block;
}

a.page-switcher-link#showAllProfiles * {
  vertical-align: middle;
}

a.page-switcher-link div {
}

a.page-switcher-link div * {
  display: inline-block;
  vertical-align: middle;
}

div#userMenuLinks {
  width: 99%;
  margin: 5px auto;
  padding: 5px;
  background-color: #fff;
  /* border: 1px solid #000; */
  border-radius: 10px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

div#userMenuLinks a {
  display: flex;
  align-items: center;
  width: 100%;
  margin: -8px auto;
  padding: 5px 5px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  /* border: 1px solid #000; */
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

div#userMenuLinks a:hover {
  background-color: #f0f2f5;
}

div#userMenuLinks a span {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  align-items: center;
  background-color: #e4e6eb;
  border-radius: 100%;
}

div#userMenuLinks a span img {
  width: fit-content;
  height: fit-content;
  margin: auto;
}

div#userMenuLinks a i {
  margin-left: auto;
  fill: #65686c;
  transition: color 0.3s ease;
}

div#userMenuFooter {
  width: 99%;
  margin: 5px auto;
  padding: 5px;
  text-align: left;
  font-weight: bold;
  background-color: #fff;
  /* border: 1px solid #000; */
  border-radius: 10px;
  word-wrap: nowrap;
  overflow-wrap: normal;
}

div#userMenuFooter * {
  vertical-align: middle;
}

div#userMenuFooter a {
  width: fit-content;
  margin: 0 1px;
  color: #65686c;
  /* border: 1px solid #000; */
}

div#userMenuFooter a:hover {
  text-decoration: underline;
}

div#userMenuFooter a i {
  margin: 0 3px;
  vertical-align: middle;
}

a#userImageLink {
  padding: 0;
}

div#notificationsDiv {
  position: absolute;
  top: 50px;
  right: 25px;
  width: 330px;
  height: 450px;
  padding-left: 10px;
  display: none;
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid #000;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

div#messagesDiv {
  position: absolute;
  top: 50px;
  right: 25px;
  width: 330px;
  height: 600px;
  padding-left: 10px;
  display: none;
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid #000;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

nav span.center {
  display: flex;
  max-width: 40%;
  width: 40%;
  height: 100%;
  margin-right: 100px;
  justify-content: space-evenly;
  align-items: center;
}

nav span.center a {
  display: flex;
  height: 90%;
  width: 16%;
  vertical-align: middle;
  border-radius: 10px;
}

nav span.center a svg {
  display: flex;
  margin: 10% auto;
}

nav span.center a:hover {
  background-color: #f0f2f5;
}

nav span.center a.active {
  border-bottom: 4px solid #0866ff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: #0866ff;
}

nav span.center a.active:hover {
  background-color: unset !important;
}

nav span.center a.active svg path {
  fill: #0866ff;
}

nav span.left {
  float: left;
  width: fit-content;
}

nav span.left div.left {
  display: flex;
  width: fit-content;
  height: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

div#searchBarDiv {
  width: 240px;
  height: 80%;
  margin-left: 15px;
  padding: 0;
  border-radius: 40px;
  background-color: #f0f2f5;
}

div#searchBarDiv input[type='text'] {
  width: 88%;
  height: 100%;
  margin-left: 1px;
  padding: 5px 10px;
  vertical-align: middle;
  border: none;
  border-radius: 30px;
  background-color: #f0f2f5;
}

div#searchBarDiv input[type='text']::placeholder {
  /* font-style: italic; */
}

div#searchBarDiv input[type='text']:focus {
  outline: none;
}

div#searchBarDiv svg#searchMark {
  /* float: right; */
  width: 20px;
  height: 20px;
  margin: auto;
  vertical-align: middle;
  color: #65686c;
  /* border: 1px solid #000; */
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

div#searchResultsDiv {
  display: block;
  max-width: 100%;
  justify-content: left;
  border: 1px solid #000;
}

div#searchResultsDiv a {
}

div#searchResultsDiv a span.result-image {
}

div#searchResultsDiv a span.result-text {
}

img#facebookLogo {
  width: 39px;
  height: 39px;
}

/*When ViewPort == 1260px */
@media only screen and (max-width: 1260px) {
  nav span.left img#facebookLogo {
    width: 40px;
    height: 40px;
  }

  nav span.left div#searchBarDiv {
    width: 40px;
    height: 40px;
    padding: 0;
    align-content: center;
    text-align: center;
    /* vertical-align: middle; */
  }

  nav span.left input#searchBar {
    display: none;
  }

  nav span.left div svg#searchMark {
    vertical-align: middle;
    /* margin: auto; */
  }

  nav span.center {
    margin-left: 110px;
  }
}

/* When ViewPort == 1100px */
@media only screen and (max-width: 1100px) {
}

/* When ViewPort == 900*/
@media only screen and (max-width: 900px) {
}

@media (max-width: 768px) {
  nav span.center {
    display: none;
  }

  div#searchBarDiv {
    width: 180px;
  }

  nav span.left input[type='text'] {
    width: 140px;
  }
}

/* When ViewPort == 700px*/
@media only screen and (max-width: 700px) {
  nav span.center {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  div#userMenuDiv {
    min-width: 90vw !important;
    min-height: 85vh !important;
    width: 90vw !important;
    height: 90vh !important;
    max-width: 90vw !important;
    max-height: 85vh !important;
    overflow-y: scroll;
  }

  div.nav-menu-div {
    min-width: 90vw !important;
    min-height: 85vh !important;
    width: 90vw !important;
    height: 90vh !important;
    max-width: 90vw !important;
    max-height: 85vh !important;
    overflow-y: scroll;
  }
}

/* When ViewPort == 500px*/
@media only screen and (max-width: 500px) {
  div#userMenuDiv {
    min-width: 90vw !important;
    min-height: 85vh !important;
    width: 90vw !important;
    height: 90vh !important;
    max-width: 90vw !important;
    max-height: 85vh !important;
  }
}

@media (max-width: 480px) {
  nav {
    flex-direction: column;
    height: auto;
  }

  nav span {
    width: 100%;
    justify-content: center;
  }

  div#searchBarDiv {
    width: 100%;
    margin-left: 0;
  }

  nav span.left input[type='text'] {
    width: 100%;
  }
}
